<nav class="navbar">
  <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/about" routerLinkActive="active-link">About</a>
  <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
</nav>
<div class="content">
@defer(on idle) {
  <h1>About Us</h1>
  <p>This is the about page of our Angular application.</p>
  <p>We are committed to providing the best user experience.</p>
  <p>Feel free to explore our features and learn more about us.</p>
} @loading (minimum 2s){
  <ngx-skeleton-loader count="4" appearance="line" />
}
</div>