.UpComingEvents {
  // grid-column: 4 / span 1;
  // padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
  min-height: 200px;
}

.event-wrapper {
  max-width: 600px;
  // margin: 20px auto;
  // padding: 1rem;
  font-family: Arial, sans-serif;
  border-radius: 8px;
}

.event-list {
  list-style-type: none;
  padding: 0;

  li {
    background-color: #e3f2fd;
    padding: 0.75rem;
    margin-bottom: 0.5rem;
    border-left: 4px solid #C68642;
    border-radius: 4px;
  }
}

