<nav class="navbar">
  <a routerLink="/home" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Home</a>
  <a routerLink="/about" routerLinkActive="active-link">About</a>
  <a routerLink="/contact" routerLinkActive="active-link">Contact</a>
</nav>

<div class="dashboard-grid">
  <section class="side-widget">
    <app-side-widget></app-side-widget>
  </section>

  <section class="calendar">
  <app-calendar></app-calendar>
</section>


  <section class="office-hours">
    <app-office-hours></app-office-hours>
  </section>

  <section class="upcoming-events">
    <app-upcoming-events></app-upcoming-events>
  </section>
</div>
